.Temp__upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 5px;
  padding: 1rem 1rem;
  .Temp__upload-dragger {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // .ant-upload-picture-card-wrapper {
    //   display: flex;
    //   margin-bottom: 3vh;
    // }
  }
  .Temp__upload-comment {
    padding-top: 3vh;
    padding-bottom: 5vh;
  }
}
