@import "../../media";
.LoginForm {
  background-color: white;
  min-height: 51vh;
  min-width: 22vw;
  width: fit-content;
  height: fit-content;
  @include media("<tablet") {
    width: 100vw;
    height: 70vh;
    box-shadow: none;
  }
  border-radius: 10px;
  padding: 2vh 5vh 1vh 5vh;
  box-shadow: 2px 1px 10px rgba(0, 0, 0, 0.25);
  & h1 {
    font-size: 7vh;
    color: #3f5366;
    text-align: center;
    margin-bottom: 5vh;
    @include media("<tablet") {
      margin-bottom: 5vh;
    }
  }
  .ant-input-affix-wrapper {
    margin-top: 0.5vh;
    border-radius: 3px;
    @include media("<tablet") {
      margin-top: 1vh;
    }
  }

  .LoginForm__register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h5 {
      color: #3f5366;
      margin: 0;
    }
    button {
      color: #3bb2ac;
      background-color: transparent;
      border: none;
      padding: 0;
    }
  }
  .LoginForm__forgot {
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: -1.5vh;
  }
}
.LoginForm__submit {
  display: flex;
  align-items: center;
  justify-content: center;
  .ant-btn {
    min-height: 4.5vh;
    min-width: 5vw;
    font-size: 1.8vh;
    // @include media("<tablet") {
    // 	height: 8vh;
    // 	width: 20vw;
    // }
  }
  margin-bottom: 2vh;
  padding-top: 1vh;
  margin-top: 2vh;
  @include media("<tablet") {
    margin-top: 7vh;
  }
}

.LoginForm__forgot-button {
  padding: 0;
}
