.secretaryStats_Main {
  //overflow:hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  & h1 {
    font-size: 4vh;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: darken(#6d7d8b, 20%);
  }
}
.secretaryStats_charts {
  display: flex;
}
.secretaryStats_line {
  width: 50vw;
  margin-top: 5vh;
  position: relative;
  right: -6vw;
}
.secretaryStats_graph {
  width: 40vw;
  margin-top: 13vh;
  position: relative;
  left: 3vw;
}
.secretaryStats_content {
  display: flex;
  margin-top: 8vh;
}

.secretaryStats_card {
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
  //background-color:rgba(243, 243, 243, 0.973);
  padding: 1vw;
  text-align: center;
  transition: 0.3s;
  cursor: pointer;
  border-radius: 4px;
  margin: 1vw;
  font-weight: normal;
  & p {
    border-bottom: 3px solid #ffde34;
    border-radius: 4px;
  }
}

.secretaryStats_card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.secretaryStats_Inner {
  text-align: center;
}

@media screen and (max-width: 980px) {
  .secretaryStats_graph {
    position: relative;
    margin: auto;
    width: 61vw;
    padding-top: 2vh;
  }
}
@media screen and (max-width: 700px) {
  .secretaryStats_Main {
    padding: 0 7vw;
  }
  .secretaryStats_graph {
    position: relative;
    margin: auto;
    width: 86vw;
    padding-top: 5vh;
  }
  .secretaryStats_content {
    display: flex;
  }
}
