.CommitteeList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  @media screen and (max-width: 700px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
